/* Contenitore generale */
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 50px;
  margin-top: 15vh;
  margin-bottom: 10vh;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 40px;
  height: 3rem;
  align-items: center;
}

.full-row  {
  display: flex;
  flex-direction: row;
  gap: 70px;
}

/* Corpo generale */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  color: #000;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
}

/* Titoli */
h1, h2 {
  color: #9E0201; /* Colore principale */
  margin-bottom: 15px;
  font-weight: bold;
}

/* Messaggi */
p {
  font-size: 16px;
  line-height: 1.4;
}

.is-loading p {
  color: #6c757d;
  font-style: italic;
}

.updates {
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.pass {
 display: flex;
  flex-direction: row;
  gap: 20px;
}

.divider {
  height: 7rem;
  width: 1px;
  background-color: #b22222;
  opacity: 0.5;
}


/* Messaggio di errore */
.error-message {
  color: #dc3545; /* Rosso per messaggi di errore */
  font-weight: bold;
  padding: 10px;
  background-color: #f8d7da;
  border: 1px solid #dc3545;
  border-radius: 5px;
  margin: 10px 0;
  text-align: center;
}

/* Messaggio di successo */
.success-message {
  color: #28a745; /* Verde per messaggi di successo */
  background-color: #e6ffed;
  border: 1px solid #28a745;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  text-align: center;
}

/* Lista delle prenotazioni */
.booking-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

/* Item della prenotazione */
.booking-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.booking-item h3 {
  margin: 0 0 10px;
  color: #9E0201; /* Colore principale */
}

.booking-item p {
  margin: 5px 0;
}

/* Pulsanti */
button {
  background-color: #9E0201; /* Colore principale */
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

button:hover {
  background-color: #7a0101; /* Colore hover */
}

button:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(158, 2, 1, 0.7);
}

/* Pulsante di cancellazione */
button.cancel-button {
  background-color: #dc3545;
}

.logout-button {
  max-width: 20vh;
  margin-top: 0;
}

button.cancel-button:hover {
  background-color: #a71d2a;
}

/* Gruppo di input del modulo */
.form-group {
  width: 100%;
  max-width: 250px;
  margin-bottom: 15px;

}

.form-control {
  width: 100%;
  max-width: 250px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #000;
}

input, textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

input:focus, textarea:focus {
  border-color: #9E0201;
}

/* Layout con righe */
.row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* Testo per prenotazioni vuote */
p.no-bookings {
  text-align: center;
  font-size: 18px;
  color: #6c757d;
}
