@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

.footer {
  background-color: #f8f8f8;
  padding: 20px 40px;
  font-family: 'Montserrat', sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px;
  text-align: left;
}

.footer-section h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-section p,
.footer-section a {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  text-decoration: none; /* Rimuove la sottolineatura */
}

.footer-section a:hover {
  text-decoration: none; /* Assicura che la sottolineatura non compaia al passaggio del mouse */
}

.contact-btn {
  background-color: #C22C1E;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 34px;
  font-size: 18px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin-top: 5%;
  border: none; /* Rimosso il bordo */
}

.contact-btn:hover {
  background-color: #ae3025;
}

/* Stile per i social */
.social-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px; 
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.social-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

/* Effetto hover */
.social-item:hover {
  transform: translateY(-2px); /* Solleva leggermente l'elemento */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Ombra leggera */
}

.social-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.social-logo:hover {
  transform: scale(1.2); /* Ingrandisce l'icona al passaggio del mouse */
}

/* Responsiveness */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-section {
    margin-bottom: 15px;
  }

  .social-item {
    justify-content: center;
  }
}

/* Stile per il contenitore del logo */
.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

/* Stile per il logo stesso */
.logo-varese {
  width: 300px;
  height: auto;
}

/* Posizione dei social */
.container-social {
  display: flex;
  justify-content: flex-start;
  margin-right: 100px;
}

.social-item p {
  margin: 0;
  padding-left: 10px;
}

/* Testi "Termini" e "Privacy" al centro */
.footer-bottom {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 12px; /* Più piccoli */
  color: #555; /* Grigio scuro */
}

.footer-bottom a {
  margin: 0 10px;
  text-decoration: none;
  color: #555;
}

.footer-bottom a:hover {
  text-decoration: underline; /* Sottolineatura al passaggio del mouse */
}
