<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <a href="/" class="logo-container">
        <img src="images/logo/logoVDG.png" alt="Logo Varese" class="logo-varese" />
      </a>
    </div>

    <div class="footer-section">
      <h3>Sede legale</h3>
      <p>Via Genova</p>
      <p>21100 Varese (VA)</p>
      <p>243 456798</p>
      <p><a href="mailto:info&#64;ilmiosito.com">info&#64;ilmiosito.com</a></p>
    </div>

    <div class="container-social">
      <div class="footer-section social-section">
        <h3>Social</h3>

        <div class="social-item">
          <a href="https://discord.gg/caKNYD8T4P" target="_blank">
            <img
              src="images/discord.png"
              alt="Discord"
              class="social-logo discord-logo"
              style="height: auto; width: 40px"
            />
            <div>
              <p><strong>Partecipa su Discord:</strong></p>
              <p>
                Connettiti e inizia a interagire <br />
                subito con gli altri membri.
              </p>
            </div>
          </a>
        </div>

        <div class="social-item">
          <a href="https://t.me/tuocanale" target="_blank">
            <img
              src="/images/telegram.png"
              alt="Telegram"
              class="social-logo telegram-logo"
            />
            <div>
              <p><strong>Unisciti al nostro canale Telegram:</strong></p>
              <p>
                Rimani aggiornato <br />
                su eventi e novità.
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="footer-section">
      <h3>Informazioni</h3>
      <p>Per informazioni, domande o riconoscimenti, chiama il numero</p>
      <p>243 456798</p>
      <a href="mailto:info@pyvarese.com"
        ><button class="contact-btn">Contattaci</button></a
      >
    </div>
  </div>

  <div class="footer-bottom">
    <p>
      <a href="#">Informativa sui cookie</a> |
      <a href="#">Informativa sulla privacy</a> |
      <a href="#">Torna all'inizio</a>
    </p>
  </div>
</footer>
