.footer {
  background-color: white;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px 40px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  border-bottom: 1px solid #ddd;
  padding: 20px;
}

.logo-varese {
  width: 300px;
  height: auto;
}

.footer-section h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #16213e;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.footer-section p,
.footer-section a {
  font-size: 0.9rem;
  color: #555;
  text-decoration: none; 
}

.contact-btn {
  background-color: #C22C1E;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 34px;
  font-size: 18px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin-top: 5%;
  border: none; /* Rimosso il bordo */
}

.contact-btn:hover {
  background-color: #ae3025;
}

/* Posizione dei social */
.container-btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.social-item {
  cursor: pointer;
}

.social-item a {
  display: inline-block;
}

.btn-discord {
  background: transparent;
  position: relative;
  z-index: 1;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgba(88, 101, 242, 1);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: rgba(88, 101, 242, 1);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

.btn-discord span {
  margin: 10px;
}

.btn-discord::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

.btn-discord:hover {
  color: #fff;
  border: 1px solid rgba(88, 101, 242, 1);
}

.btn-discord:hover::before {
  box-shadow: inset 0 0 0 10em rgba(88, 101, 242, 1);
}


.btn-telegram {
  background: transparent;
  position: relative;
  z-index: 1;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(36, 161, 222);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: rgb(36, 161, 222);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

.btn-telegram span {
  margin: 10px;
}

.btn-telegram::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

.btn-telegram:hover {
  color: #fff;
  border: 1px solid rgb(36, 161, 222);
}

.btn-telegram:hover::before {
  box-shadow: inset 0 0 0 10em rgb(36, 161, 222);
}

.btn-contact {
  align-items: center;
  background-color: transparent;
  color: #b22222;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  margin: 30px 0 0 0;
}

.btn-contact:before {
  background-color: #b22222;
  content: "";
  display: inline-block;
  height: 1px;
  margin-right: 10px;
  transition: all .42s cubic-bezier(.25,.8,.25,1);
  width: 0;
}

.btn-contact:hover:before {
  background-color: #b22222;
  width: 3rem;
}

/* Responsiveness */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-section {
    margin-bottom: 15px;
  }

  .social-item {
    justify-content: center;
  }
}

/* Testi "Termini" e "Privacy" al centro */
.footer-bottom {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 12px; /* Più piccoli */
  color: #555; /* Grigio scuro */
}

.footer-bottom a {
  margin: 0 10px;
  text-decoration: none;
  color: #555;
}

.footer-bottom a:hover {
  text-decoration: underline; /* Sottolineatura al passaggio del mouse */
}
