.main-header {
  position: fixed;
  width: 90%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 8rem;
  z-index: 50;
  transition: all 0.5s ease;
}

.main-header.scrolled {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  justify-content: flex-start;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

.logo img {
  width: 7rem;
  cursor: pointer;
}


.menu-item {
  position: relative;
  color: #b22222;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
}

.menu-item::before,
.menu-item::after {
  content: '';
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, #b22222, #16213e);
  transition: width 0.3s ease;
}

.menu-item::before {
  top: -7px;
}

.menu-item::after {
  bottom: -7px;
}

.menu-item:hover::before,
.menu-item:hover::after {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.divider {
  height: 1.5rem;
  width: 1px;
  background-color: #b22222;
  opacity: 0.5;
}

.icon-button {
  font-size: 0.8rem;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  transition: color 0.2s ease, transform 0.3s ease;
}

.icon-button:hover i {
  transform: scale(1.1);
}

.fa-solid {
  transition: color 0.7s ease; 
}

.fa-solid:hover {
  color: #16213e !important;
}

.fa-regular:hover {
  color: #16213e !important;
}

.fa-regular {
  transition: color 0.7s ease; 
}