<header
  #mainHeader
  class="main-header"
  [ngClass]="{ 'home-header': isHomePage, 'other-header': !isHomePage }"
  [class.scrolled]="isScrolled"
>
  <div class="logo">
    <a href="/">
      <img src="/images/logo/logoVDGminimal.png" alt="Logo" />
    </a>
  </div>

  <div class="actions">
    <a href="/eventi" class="menu-item">Eventi</a>
    <a href="/meeting" class="menu-item">Relatori</a>
    <a href="/partner" class="menu-item">Partner</a>

    <div class="divider"></div>

    <button class="icon-button login-button" (click)="navigateToAccount()">
      <i class="fa-regular fa-user" style="color: #ffffff"></i>
    </button>
  </div>
</header>
