<header #mainHeader class="main-header" [ngClass]="{ 'home-header': isHomePage, 'other-header': !isHomePage }"
  [class.scrolled]="isScrolled">
  <div class="logo">
    <a href="/">
      <img src="/images/logo/logoVDGminimal.png" alt="Logo" />
    </a>
  </div>

  <div class="actions">
    <a href="/eventi" class="menu-item">Eventi</a>
    <a href="/meeting" class="menu-item">Relatori</a>
    <a href="/partner" class="menu-item">Partner</a>
    <!-- Menu hamburger per schermi piccoli -->
    <label class="hamburger" (change)="toggleMenu()">
      <input type="checkbox" />
      <svg viewBox="0 0 32 32">
        <path class="line line-top-bottom"
          d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22">
        </path>
        <path class="line" d="M7 16 27 16"></path>
      </svg>
    </label>

    <!-- Menu a scomparsa -->
    <nav [ngClass]="{ 'show-menu': isMenuOpen }">
      <a href="/eventi" class="menu-item-hamburger">Eventi</a>
      <a href="/meeting" class="menu-item-hamburger">Relatori</a>
      <a href="/partner" class="menu-item-hamburger">Partner</a>
    </nav>

    <!-- Divider e login button sempre visibili -->
    <div class="divider"></div>
    <button class="icon-button login-button" (click)="navigateToAccount()">
      <i class="fa-regular fa-user" style="color: #ffffff"></i>
    </button>
  </div>
</header>