<header class="main-header" [class.scrolled]="isScrolled">
  <!-- Logo -->
  <div class="logo">
    <img src="/images/logo/logoVDGminimal.png" alt="Logo" />
  </div>

  <!-- Menu Items -->
  <div class="actions">
    <a href="/eventi" class="menu-item">Eventi</a>
    <a href="/meeting" class="menu-item">Relatori</a>
    <a href="/partner" class="menu-item">Partner</a>

    <div class="divider"></div>

    <!-- Login Icon -->
    <a href="/auth/account">
      <button class="icon-button login-button">
        <i class="fa-regular fa-user" style="color: #ffffff;"></i>
      </button>
    </a>
  </div>
</header>