.hero-section {
  position: relative;
  height: 130vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 5rem;
  overflow: hidden;
}

#particleCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(to right, #1a1a2e, #16213e, #0f3460);
}

.hero-content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  width: 100%;
  color: white;
}

.hero-text-section {
  text-align: left;
  width: 40%;
}

.mini-text {
  font-size: 1.2rem;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  display: block;
  opacity: 0;
  transform: translateY(-20px);
  animation: fade-in 1s ease forwards 0.5s;
}

.hero-title {
  color: #ff6666;
  background: linear-gradient(to right, #b22222, #496ac5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  opacity: 0;
  transform: translateY(-20px);
  animation: fade-in 1s ease forwards 0.7s;
}

.hero-description {
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.5;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
  opacity: 0;
  transform: translateY(-20px);
  animation: fade-in 1s ease forwards 0.9s;
}

.cta-button {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #16213e;
  background-color: #b22222;
  opacity: 0;
  transition: all 0.5s ease;
  animation: fade-in 1s ease forwards 1.1s;
}

.cta-button:hover {
  color: #ffffff;
  background-color: #5d18dc;
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.cta-button:active {
  color: #ffffff;
  background-color: #5d18dc;
  box-shadow: rgb(93 24 220 / 50%) 0px 2px 10px 0px;
  opacity: 0.9;
  transition: box-shadow 0.1s ease, background-color 0.1s ease;
}

.cards-section {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bounce-card 1.5s linear;
}

.demo-slider-container {
  width: 100%;
  height: 400px;
  position: relative;
}

.demo-slider-wrap {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.swiper-wrapper {
  display: flex;
  transition: transform 0.5s ease;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
}

.card.new-design-mobile {
  display: none !important;
}

.card.new-design,
.card.new-design-mobile {
  display: flex;
  flex-direction: row;
  width: 75%;
  height: 350px;
  border-radius: 20px;
  overflow: hidden;
  background: linear-gradient(115deg, #496ac5, white);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px 40px;
}

.logo-image {
  width: 30%;
  height: auto;
}

.card-left h1 {
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  color: white;
  text-transform: uppercase;
  margin: 0;
}

.card-left h3 {
  font-size: 0.8rem;
  font-weight: 400;
  color: #16213e;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.event-image {
  width: 60%;
  height: auto;
  border: 6px white solid;
  border-radius: 50%;
}

.divider {
  width: 4px;
  background-color: #16213e;
  height: 100%;
  position: absolute;
  left: 45%;
  border-radius: 50px;
  transform: rotate(25deg);
}

.card-right {
  width: 60%;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-title {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.card-title h2 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: #7e1717;
  text-transform: uppercase;
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.card-title p {
  padding: 0;
  color: #313131;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 0 20px 0;
}

.card-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin: 10px 0;
}

.detail-item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #16213e;
  color: #ff6666;
  border-radius: 50%;
  font-size: 1.2rem;
}

.detail-text {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.detail-text h3 {
  margin: 0;
  font-size: 1rem;
  letter-spacing: 0.08rem;
  color: #333;
  font-weight: bold;
}

.detail-text p {
  margin: 0;
  font-size: 0.9rem;
  color: #313131;
}

.card-final-info {
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
  justify-content: space-between;
}

.card-final-info h3 {
  margin: 0;
  color: #333;
  font-size: 1rem;
  letter-spacing: 0.08rem;
  text-align: left;
}

.card-final-info p {
  margin: 0;
  text-align: left;
  color: #313131;
}

.btn {
  align-items: center;
  background-color: transparent;
  color: #7e1818;
  cursor: pointer;
  display: flex;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  margin: 0 auto 0 auto;
  transform: translateX(25px);
}

.btn:before {
  background-color: #7e1818;
  content: "";
  display: inline-block;
  height: 1px;
  margin-right: 10px;
  transition: all .42s cubic-bezier(.25, .8, .25, 1);
  width: 0;
}

.btn:hover:before {
  background-color: #7e1818;
  width: 3rem;
}


@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.scroll-indicator {
  position: absolute;
  bottom: 4rem;
  font-size: 2rem;
  color: white;
  animation: bounce 2s infinite;
  cursor: pointer;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

@keyframes bounce-card {

  0%,
  100% {
    opacity: 0;
    transform: translateY(0);
  }

  50% {
    opacity: 1;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 1440px) {
  .hero-content {
    flex-direction: column;
    gap: 5rem;
  }

  .hero-section {
    padding: 3rem;
    text-align: center;
    flex-direction: column;
  }

  .hero-text-section {
    width: 80%;
    text-align: center;
  }

  .hero-title {
    font-size: 3rem;
  }

  .hero-description {
    font-size: 1.3rem;
  }

  .cta-button {
    font-size: 14px;
    padding: 14px 35px;
  }

  .cards-section {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .cards-section {
    width: 100%;
  }

  .demo-slider-container {
    height: 500px;
  }

}

@media (max-width: 768px) {
  .hero-section {
    padding: 2rem;
  }

  .hero-text-section {
    width: 90%;
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .hero-description {
    font-size: 1.2rem;
  }

  .cta-button {
    font-size: 13px;
    padding: 12px 30px;
  }

  .demo-slider-container {
    height: 250px;
  }

  .swiper-slide {
    width: 250px;
    height: 250px;
    border-radius: unset;
  }

  .card-left {
    display: none;
  }

  .divider {
    display: none;
  }

  .card-right {
    width: 100%;
    justify-content: space-evenly;
    padding: 40px 20px;
  }

  .card-title {
    align-items: center;
  }

  .card-title h2 {
    font-size: 1.7rem;
  }

  .card-title p {
    font-size: 0.8rem;
    margin: 0;
  }

  .card-details {
    flex-direction: row;
  }

  .detail-item {
    flex-direction: column;
    gap: 5px;
  }

  .detail-text {
    align-items: center;
  }

  .detail-text h3 {
    font-size: 0.8rem;
  }

  .detail-text p {
    font-size: 0.7rem;
  }

  .card-info {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .card-info h3 {
    font-size: 0.8rem;
  }

  .card-info p {
    font-size: 0.7rem;
  }

  .btn {
    font-size: 0.7rem;
  }

  .scroll-indicator {
    font-size: 1.8rem;
  }
}

@media (max-width: 576px) {
  .card-final-info {
    flex-direction: column;
    align-items: center;
  }

  .btn {
    transform: translateX(0);
  }
}

@media (max-width: 480px) {
  .hero-section {
    padding: 1.5rem;
  }

  .hero-title {
    font-size: 2rem;
  }

  .hero-description {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }

  .cta-button {
    font-size: 12px;
    padding: 10px 25px;
  }

  .demo-slider-container {
    height: 200px;
  }

  .swiper-slide {
    width: 200px;
    height: 200px;
  }

  .card-right {
    justify-content: center;
  }

  .card-title h2 {
    font-size: 1.5rem;
  }

  .card-title p {
    font-size: 0.6rem;
  }

  .detail-text h3 {
    font-size: 0.7rem;
  }

  .detail-text p {
    font-size: 0.6rem;
  }

  .icon {
    width: 30px;
    height: 30px;
    font-size: 1rem;
  }

  .card-info h3 {
    font-size: 0.7rem;
  }

  .card-info p {
    font-size: 0.6rem;
  }

  .btn {
    font-size: 0.6rem;
  }

  .scroll-indicator {
    font-size: 1.5rem;
  }
}