<section class="hero-section">
  <canvas id="particleCanvas"></canvas>
  <div class="hero-content">
    <div class="hero-text-section">
      <span class="mini-text">Benvenuto nel futuro</span>
      <h1 class="hero-title">Varese Developer Group</h1>
      <p class="hero-description">Scopri il nostro calendario di eventi dal vivo e online: talk tecnici, workshop e
        incontri con esperti. Unisciti a noi e fai parte di una community dove le idee si trasformano in innovazione.
      </p>
      <button class="cta-button" (click)="onGetStarted()">Scopri di più</button>
    </div>

    <!-- Cards Section -->
    <section class="cards-section">
      <div class="demo-slider-container">
        <div class="demo-slider-wrap">
          <div class="demo-slider swiper swiper-cards-stack">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="images/digital-f.jpg" alt="Digital Card">
              </div>
              <div class="swiper-slide">
                <img src="images/gold-f.jpg" alt="Gold Card">
              </div>
              <div class="swiper-slide">
                <img src="images/platinum-f.jpg" alt="Platinum Card">
              </div>
              <div class="swiper-slide">
                <img src="images/gaming-f.jpg" alt="Gaming Card">
              </div>
              <div class="swiper-slide">
                <img src="images/shopping-f.jpg" alt="Shopping Card">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
  <!-- Scroll Indicator -->
  <div class="scroll-indicator" (click)="scrollToAbout()">
    <i class="fa-solid fa-arrow-down"></i>
  </div>
</section>