<section id="partners" class="partners-section">
  <div class="partners-container">
    <div class="hero">
      <div class="hero-overlay"></div>
      <img src="strettadimano.png" alt="Hero Image" class="hero-image">
      <div class="hero-text">
        <h1>Partner Aziendali</h1>
        <p>Collaboriamo con le migliori aziende del settore per offrire soluzioni di alta qualità.</p>
      </div>
    </div>

    <!-- Carosello immagini -->
    <div class="carousel-container animated-content">
      <div class="carousel">
        <div class="slides">
          <div *ngFor="let slide of slides; let i = index" class="slide" [class.active]="i === currentIndex()"
            [style.transform]="'translateX(' + -100 * currentIndex() + '%)'">
            <img [src]="slide.image" [alt]="slide.alt" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
