<div class="registerContainer">
  <h2>Registrati al tuo Account</h2>
  <form (ngSubmit)="register()" #registerForm="ngForm">
    <label for="name">Nome</label>
    <input id="name" type="text" [(ngModel)]="name" name="name" required #nameInput="ngModel" />
    <div *ngIf="nameInput.invalid && nameInput.touched" class="error-message">Nome è obbligatorio.</div>

    <label for="surname">Cognome</label>
    <input id="surname" type="text" [(ngModel)]="surname" name="surname" required #surnameInput="ngModel" />
    <div *ngIf="surnameInput.invalid && surnameInput.touched" class="error-message">Cognome è obbligatorio.</div>

    <label for="email">Email</label>
    <input id="email" type="email" [(ngModel)]="email" name="email" required email #emailInput="ngModel" />
    <div *ngIf="emailInput.invalid && emailInput.touched" class="error-message">Email è obbligatoria e deve essere valida.</div>

    <label for="password">Password</label>
    <input id="password" type="password" [(ngModel)]="password" name="password" required #passwordInput="ngModel" />
    <div *ngIf="passwordInput.invalid && passwordInput.touched" class="error-message">Password è obbligatoria.</div>

    <label for="phone">Numero di telefono (facoltativo)</label>
    <input id="phone" type="number" [(ngModel)]="phone" name="phone" #phoneInput="ngModel" />

    <button type="submit" [disabled]="!registerForm.valid">Registrati</button>
  </form>

  <!-- Messaggio di errore -->
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

  <!-- Messaggio di successo -->
  <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
</div>
