.container {
  margin: 0 auto;
  padding: 20px;
  max-width: 600px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  margin-top: 15vh;
  margin-bottom: 10vh;
}

h1 {
  color: #9E0201; /* Colore principale */
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  font-size: 0.9rem;
  color: #000;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
}

input:focus, textarea:focus {
  border-color: #9E0201;
}

textarea {
  resize: none;
  height: 100px;
}

button {
  background-color: #9E0201; /* Colore principale */
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  background-color: #7a0101; /* Colore hover */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.success-message {
  color: #28a745; /* Verde per messaggi di successo */
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  font-size: 1rem;
}

.error-message {
  color: #dc3545; /* Rosso per messaggi di errore */
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  font-size: 1rem;
}

/* Adattamenti per dispositivi mobili */
@media screen and (max-width: 768px) {
  .container {
    padding: 15px;
  }

  h1 {
    font-size: 1.5rem;
  }

  button {
    font-size: 0.9rem;
    padding: 10px 15px;
  }

  input, textarea {
    padding: 8px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.2rem;
  }

  button {
    font-size: 0.8rem;
    padding: 8px 12px;
  }

  input, textarea {
    padding: 6px;
  }
}
