<!-- Hero Section -->
<div class="hero">
  <div class="hero-overlay"></div>
  <img src="strettadimano.png" alt="Hero Image" class="hero-image">
  <div class="hero-text">
    <h1>Partner Aziendali</h1>
    <p>Collaboriamo con le migliori aziende del settore per offrire soluzioni di alta qualità.</p>
  </div>
</div>

<!-- Partners Section -->
<div class="partners-section">
  <div class="partners-content">
    <div class="text-container">
      <h2>TEAM. CUSTOMER. COMMUNITY</h2>
      <h3>We Work With the Best Partners</h3>
      <p>While we are at the forefront of and specialize in design-build, we are very familiar with a number of delivery methods and are confident we can find the process that will best help you meet your goals.</p>
      <button class="read-more">Read More</button>
    </div>
    <div class="logos-container">
      <div class="logo-row">
        <img src="digitiamo.png" alt="Classic Design Studio">
        <img src="elmeclogo.png" alt="Sunshine">
      </div>
      <div class="logo-row">
        <img src="notjust.png" alt="WS">
        <img src="retilogo.png" alt="Unlimited Outdoors Adventures">
      </div>
      <div class="logo-row">
        <img src="varesenext.png" alt="Design Studio">
       
      </div>
    </div>
  </div>
</div>