<!-- Hero Section -->
<div class="hero">
  <div class="hero-overlay"></div>
  <img src="strettadimano.png" alt="Hero Image" class="hero-image">
  <div class="hero-text">
    <h1>Partner Aziendali</h1>
    <p>Collaboriamo con le migliori aziende del settore per offrire soluzioni di alta qualità.</p>
  </div>
</div>

<!-- Partners Section -->
<div class="partners-section">
  <div class="partners-content">
    <div class="text-container">
      <h2>I NOSTRI PARTNER</h2>
      <h3>We Work With the Best Partners</h3>
      <p>While we are at the forefront of and specialize in design-build, we are very familiar with a number of delivery methods and are confident we can find the process that will best help you meet your goals.</p>
      <button class="read-more">Read More</button>
    </div>
    
    <!-- Carosello immagini -->
    <div class="carousel-container">
      <div class="carousel">
        <div class="slides">
          <div *ngFor="let slide of slides; let i = index"
               class="slide"
               [class.active]="i === currentIndex()"
               [style.transform]="'translateX(' + (-100 * currentIndex()) + '%)'">
            <img [src]="slide.image" [alt]="slide.alt">
          </div>
        </div>
  
        <div class="immagine-descrizione">
        <img src="strettadimano.png" alt="Hero Image" class="hero-image">
      </div>
    </div>
  </div>
</div>
