<section id="hero">
  <div class="hero-content">
    <h1>Innovazione e Soluzioni Software<br />con Varese Developer Group</h1>
    <p>La community per sviluppatori e appassionati di tecnologia a Varese.</p>
    <a href="/eventi" class="btn-primary">Scopri di più</a>
  </div>
  <img src="hero.png" alt="Hero Image" class="hero-image" />
</section>

<section id="about">
  <div class="about-content">
    <div class="about-text">
      <h2>Chi Siamo</h2>
      <p></p>
      <p>
        Benvenuti su Varese Developer Group, un team di esperti nel campo dello
        sviluppo software e delle tecnologie emergenti. Siamo appassionati di
        innovazione continua e ci impegniamo a creare soluzioni all'avanguardia
        per aziende e startup. <br />
        Se stai cercando professionisti dinamici per collaborare su progetti
        tecnologici sfidanti, siamo pronti a portare la tua visione al prossimo
        livello, con competenza, creatività e risultati concreti.
      </p>
    </div>
    <img src="about.png" alt="Chi siamo" class="about-image" />
  </div>
</section>

<h1 class="eventi">I NOSTRI EVENTI</h1>

<div class="event-container">
  <app-event-card></app-event-card>
</div>

<app-partner2></app-partner2>

