<section id="hero">
  <div class="hero-content">
    <h1>Innovazione e Soluzioni Software<br />con Varese Developer Group</h1>
    <p>La community per sviluppatori e appassionati di tecnologia a Varese.</p>
    <a href="/eventi" class="btn-primary">Scopri di più</a>
  </div>
  <img src="hero.png" alt="Hero Image" class="hero-image" />
</section>

<app-about></app-about>

<div class="event-container">
  <h1 class="eventi">I NOSTRI EVENTI</h1>
  <app-event-card></app-event-card>
</div>

<app-final-message></app-final-message>

<app-partner2></app-partner2>

