.event-section {
  position: relative;
  padding: 80px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  overflow: hidden;
}

#particleCanvasEvent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(to right, #1a1a2e, #16213e, #0f3460);
}

.hero-header {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
}

.label {
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #1956a0;
  margin: 10px 0;
  text-transform: uppercase;
}

h1 .highlight {
  color: #ff6666;
}

.subtitle {
  font-size: 1.2rem;
  color: #ffffff;
  width: 40%;
  margin: auto;
}

.animated-content {
  opacity: 0;
  transform: translateY(-20px);
  animation: fade-in 1s ease forwards;
}

.animated-content:nth-child(1) {
  animation-delay: 0.5s;
}

.animated-content:nth-child(2) {
  animation-delay: 0.7s;
}

.animated-content:nth-child(3) {
  animation-delay: 0.9s;
}

.carousel-container {
  position: relative;
  width: 90%;
  max-width: 1800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.carousel {
  width: 100%;
  min-width: 65vw;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

.slides {
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.slide {
  flex: 0 0 100%;
}

.card.new-design-mobile {
  display: none !important;
}

.card.new-design,
.card.new-design-mobile {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  overflow: hidden;
  background: linear-gradient(115deg, #496ac5, white);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px 40px;
}

.logo-image {
  width: 30%;
  height: auto;
}

.card-left h1 {
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  color: white;
  text-transform: uppercase;
  margin: 0;
}

.card-left h3 {
  font-size: 0.8rem;
  font-weight: 400;
  color: #16213e;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.event-image {
  width: 60%;
  height: auto;
  border: 6px white solid;
  border-radius: 50%;
}

.divider {
  width: 4px;
  background-color: #16213e;
  height: 100%;
  position: absolute;
  left: 45%;
  border-radius: 50px;
  transform: rotate(25deg);
}

.card-right {
  width: 60%;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.card-title {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.card-title h2 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: #7e1717;
  text-transform: uppercase;
}

.card-title p {
  padding: 0;
  color: #313131;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  margin: 0 0 20px 0;
}

.card-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin: 10px 0;
}

.detail-item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #16213e;
  color: #ff6666;
  border-radius: 50%;
  font-size: 1.2rem;
}

.detail-text {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.detail-text h3 {
  margin: 0;
  font-size: 1rem;
  letter-spacing: 0.08rem;
  color: #333;
  font-weight: bold;
}

.detail-text p {
  margin: 0;
  font-size: 0.9rem;
  color: #313131;
}

.card-final-info {
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
  justify-content: space-between;
}

.card-final-info h3 {
  margin: 0;
  color: #333;
  font-size: 1rem;
  letter-spacing: 0.08rem;
  text-align: left;
}

.card-final-info p {
  margin: 0;
  font-size: 0.8rem;
  text-align: left;
  color: #313131;
}

.btn {
  align-items: center;
  background-color: transparent;
  color: #7e1818;
  cursor: pointer;
  display: flex;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  margin: 0 auto 0 auto;
  transform: translateX(25px);
}

.btn:before {
  background-color: #7e1818;
  content: "";
  display: inline-block;
  height: 1px;
  margin-right: 10px;
  transition: all .42s cubic-bezier(.25, .8, .25, 1);
  width: 0;
}

.btn:hover:before {
  background-color: #7e1818;
  width: 3rem;
}

/* Indicators */
.indicators {
  display: flex;
  gap: 8px;
  margin-top: 15px;
}

.indicator {
  width: 12px;
  height: 12px;
  background: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.indicator.active {
  background: #333;
}

/* Frecce senza sfondo */
.nav-button {
  color: #ffffff;
  font-size: 30px;
  cursor: pointer;
  z-index: 10;
  transition: opacity 0.3s, transform 0.3s;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
}

.nav-button.prev {
  left: 10%;
}

.nav-button.next {
  right: 10%;
}

.nav-button:hover {
  opacity: 0.8;
  transform: translateY(-50%) scale(1.1);
}

@media (max-width: 1440px) {
  .subtitle {
    width: 60%;
    margin: auto;
  }
}

@media (max-width: 1340px) {
  .card.new-design {
    width: 80%;
  }

  .nav-button.next {
    right: -10%;
  }

  .nav-button.prev {
    left: -10%;
  }
}

@media (max-width: 1024px) {
  .label {
    font-size: 0.8rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  .subtitle {
    font-size: 1rem;
    width: unset;
    margin: 0;
  }

  .card.new-design {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .card-left {
    padding: 10px 20px;
  }

  .card-left h1 {
    font-size: 1rem;
  }

  .card-left h3 {
    font-size: 0.6rem;
  }

  .card-right {
    padding: 10px 20px;
  }

  .card-title h2 {
    font-size: 1.8rem;
  }

  .card-title p {
    font-size: 0.8rem;
  }

  .detail-text h3 {
    font-size: 0.8rem;
  }

  .detail-text p {
    font-size: 0.7rem;
  }

  .card-final-info h3 {
    font-size: 0.8rem;
  }

  .card-final-info p {
    font-size: 0.6rem;
  }

  .btn {
    font-size: 0.6rem;
  }
}

@media (max-width: 768px) {
  .event-section {
    padding: 80px 30px;
  }

  .card.new-design-mobile {
    display: block !important;
    height: 500px;
  }

  .card.new-design {
    display: none;
  }

  .card-left {
    margin: auto;
    width: 80%;
    height: 30%;
    flex-direction: column;
  }

  .event-image {
    display: none;
  }

  .card-right {
    margin: auto;
    width: 80%;
    height: 60%;
  }

  .card-title {
    align-items: center;
  }

  .card-title p {
    margin: 0;
  }

  .card-details {
    align-items: center;
  }

  .detail-item {
    flex-direction: row;
  }

  .detail-item .detail-text {
    flex-direction: row;
    gap: 10px;
  }

  .card-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .btn {
    transform: translateX(0);
  }
}

@media (max-width: 662px) {
  .card.new-design-mobile {
    height: 600px;
  }

  .card-left {
    height: 20%;
  }

  .card-right {
    padding: 0;
  }

  .detail-item {
    flex-direction: column;
    gap: 10px;
  }

  .card-final-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btn {
    margin: 0 auto;
  }
}

@media (max-width: 550px) {
.carousel-container {
  height: 80vh;
}

  .card.new-design-mobile {
    height: 700px;
  }

  .detail-text {
    flex-direction: column !important;
    align-items: center;
  }

  .card-info {
    flex-direction: column;
  }
}
