<div class="hero">
  <div class="hero-overlay"></div>
  <img src="talk.jpg" alt="Hero Image" class="hero-image">
  <div class="hero-text">
    <h1>SCOPRI I RELATORI IN EVIDENZIA</h1>
    <p>Scopri i relatori che rendono i nostri eventi un’esperienza unica!<br>Professionisti del settore e sviluppatori
      di
      talento condividono le loro conoscenze su argomenti innovativi,<br> strumenti e best practice per ispirare e
      formare
      la
      community.</p>
  </div>
</div>

<div class="speakersPage">


  <div class="grid-container">
    <div class="card" *ngFor="let relatore of relatori">
      <div class="card__img">
        <svg xmlns="http://www.w3.org/2000/svg" width="100%">
          <rect fill="#ffffff" width="540" height="450"></rect>
          <defs>
            <linearGradient id="a" gradientUnits="userSpaceOnUse" x1="0" x2="0" y1="0" y2="100%"
                            gradientTransform="rotate(222,648,379)">
              <stop offset="0" stop-color="#ffffff"></stop>
              <stop offset="1" stop-color="#FC726E"></stop>
            </linearGradient>
            <pattern patternUnits="userSpaceOnUse" id="b" width="300" height="250" x="0" y="0" viewBox="0 0 1080 900">
              <g fill-opacity="0.5">
                <polygon fill="#444" points="90 150 0 300 180 300"></polygon>
              </g>
            </pattern>
          </defs>
          <rect x="0" y="0" fill="#a90202" width="100%" height="100%"></rect>

        </svg>
      </div>
      <div class="card__avatar">
        <svg viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <clipPath id="clipCircle-{{relatore.id}}">
              <circle cx="64" cy="64" r="60"></circle>
            </clipPath>
          </defs>
          <image
            [attr.href]="relatore.image"
            x="-60"
            y="-60"
            width="240"
            height="240"
            [attr.clip-path]="'url(#clipCircle-' + relatore.id + ')'"
          ></image>
        </svg>
      </div>

      <div class="card__title">{{ relatore.name }}</div>
      <div class="card__subtitle">{{ relatore.surname }}</div>
      <div class="card__wrapper">

        <button class="card__btn card__btn-solid" [routerLink]="['/meeting', relatore.id]">Scopri il relatore</button>


      </div>
    </div>


  </div>

</div>

