<section id="contacts" class="contacts-section">
  <!-- Titolo principale -->
  <div class="hero-header">
    <div class="label animated-content">Contact Us</div>
    <h1 class="animated-content">Parte di Noi: <span class="highlight">Unisciti a noi in questa avventura</span></h1>
    <p class="subtitle animated-content"> Varese Developers Group è più di una community: è un luogo dove le idee
      prendono vita. Se condividi la nostra passione per l’innovazione e la
      tecnologia, entra a far parte del nostro network. Insieme possiamo
      costruire qualcosa di straordinario!.</p>
  </div>
  <div class="animated-content">
    <a href="mailto:info@pyvarese.com">
      <button class="btn">Contattaci</button>
    </a>
  </div>
</section>