<div class="mainContainer">
  <div class="containerLogin">
    <h2>Accedi al tuo account</h2>
    <p>Potrai consultare gli eventi a cui hai partecipato <br>e registrarti a quelli in programma.</p>
    <form (ngSubmit)="login()">
      <label for="email">Email </label>
      <input id="email" type="email" placeholder="Inserisci la tua email" [(ngModel)]="email" name="email" required/>
      <br>

      <label for="password">Password </label>
      <input id="password" type="password" placeholder="Inserisci la tua password" [(ngModel)]="password"
             name="password"
             required/> <br>

      <label for="phoneNumber">Numero di telefono (facoltativo) </label>
      <input id="phoneNumber" type="number" placeholder="Inserisci il tuo numero di telefono" [(ngModel)]="phoneNumber"
             name="phoneNumber"/> <br>

      <button type="submit">Login</button>
    </form>

  </div>

  <div class="containerRegister">
    <p class="pRegister">Non sei ancora registrato? <br> Unisciti a noi e partecipa al prossimo evento</p>
    <button class="registerButton"><a routerLink="/auth/register">Registrati qui</a></button>
  </div>


</div>
