 <!-- Hero Section -->
 <div class="hero">
    <div class="hero-overlay"></div>
    <img src="strettadimano.png" alt="Hero Image" class="hero-image">
    <div class="hero-text">
      <h1>Partner Aziendali</h1>
      <p>Collaboriamo con le migliori aziende del settore per offrire soluzioni di alta qualità.</p>
    </div>
  </div>
  
  
  <!-- Angular Component -->
  <partner-card></partner-card>
  
  
  <!-- Scripts Angular -->
  <script src="runtime.js" type="module"></script>
  <script src="polyfills.js" type="module"></script>
  <script src="main.js" type="module"></script>