<div class="pageContainer">
    <div class="animatedBackground"></div>

    <div class="resetBox">
        <div id="resetLeft" class="welcomeContainer">
            <div class="logo">
                <img src="/images/account/imageAccount.png" alt="Logo" />
            </div>
        </div>

        <div id="resetRight" class="resetRight">
            <div class="welcomeText">
                <div class="topLogo">
                    <img src="/images/logo/logoVDGminimal.png" alt="Logo VDG minimal" />
                </div>
                <h2>Difficoltà ad accedere<br /><span>al proprio account</span></h2>
                <hr />
                <p>Segui i passaggi per recuperare la password</p>
            </div>

            <!-- Step 1: Email Input -->
            <div *ngIf="currentStep === 1" class="step-email">
                <form (ngSubmit)="sendEmail()" class="resetForm">
                    <div class="input-group">
                        <input class="input-text" name="contact" type="text" id="contact" placeholder="Email"
                            [(ngModel)]="email" required (input)="validateEmail()" />
                        <label class="input-text-label" for="contact">Email</label>
                        <span class="icon-contact">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path fill="#b22222"
                                    d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48L48 64zM0 176L0 384c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-208L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
                            </svg>
                        </span>
                    </div>
                    <button class="animated-button" type="submit" [disabled]="!isEmailValid">
                        <span class="text">Invia Codice</span>
                    </button>
                </form>
            </div>

            <!-- Step 2: Code Verification -->
            <div *ngIf="currentStep === 2" class="step-code">
                <form (ngSubmit)="sendCode()" class="resetForm">
                    <div class="input-group">
                        <input class="input-text" name="code" type="text" id="code" placeholder="Codice di Verifica"
                            [(ngModel)]="verificationCode" required />
                        <label class="input-text-label" for="code">Codice</label>
                        <span class="icon-contact">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                                <path fill="#b22222"
                                    d="M181.3 32.4c17.4 2.9 29.2 19.4 26.3 36.8L197.8 128l95.1 0 11.5-69.3c2.9-17.4 19.4-29.2 36.8-26.3s29.2 19.4 26.3 36.8L357.8 128l58.2 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-68.9 0L325.8 320l58.2 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-68.9 0-11.5 69.3c-2.9 17.4-19.4 29.2-36.8 26.3s-29.2-19.4-26.3-36.8l9.8-58.7-95.1 0-11.5 69.3c-2.9 17.4-19.4 29.2-36.8 26.3s-29.2-19.4-26.3-36.8L90.2 384 32 384c-17.7 0-32-14.3-32-32s14.3-32 32-32l68.9 0 21.3-128L64 192c-17.7 0-32-14.3-32-32s14.3-32 32-32l68.9 0 11.5-69.3c2.9-17.4 19.4-29.2 36.8-26.3zM187.1 192L165.8 320l95.1 0 21.3-128-95.1 0z" />
                            </svg>
                        </span>
                    </div>
                    <button class="animated-button" type="submit">
                        <span class="text">Conferma Codice</span>
                    </button>
                </form>
            </div>

            <!-- Step 3: Password Update -->
            <div *ngIf="currentStep === 3" class="step-password">
                <form (ngSubmit)="updatePassword()" class="resetForm">
                    <div class="input-group">
                        <input class="input-text" [type]="showPassword ? 'text' : 'password'" name="password"
                            id="password" placeholder="Password" [(ngModel)]="newPassword" required (input)="onPasswordInput()" />
                        <label class="input-text-label" for="password">Password</label>
                        <span class="icon">
                            <svg *ngIf="!isPasswordTyped" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path fill="#b22222"
                                    d="M144 144l0 48 160 0 0-48c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192l0-48C80 64.5 144.5 0 224 0s144 64.5 144 144l0 48 16 0c35.3 0 64 28.7 64 64l0 192c0 35.3-28.7 64-64 64L64 512c-35.3 0-64-28.7-64-64L0 256c0-35.3 28.7-64 64-64l16 0z" />
                            </svg>
                            <span *ngIf="isPasswordTyped" class="icon toggle-password" (click)="togglePassword()">
                                <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                    <path fill="#b22222"
                                        d="M569.34 231.16c-47.06-77.43-134.17-135.31-245.32-135.31-111.15 0-198.26 57.88-245.32 135.31a48.62 48.62 0 0 0 0 49.68c47.06 77.44 134.17 135.31 245.32 135.31s198.26-57.87 245.32-135.31a48.62 48.62 0 0 0 0-49.68zM288 368a80 80 0 1 1 80-80 80 80 0 0 1-80 80zm0-128a48 48 0 1 0 48 48 48 48 0 0 0-48-48z" />
                                </svg>

                                <svg *ngIf="!showPassword" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                    <path fill="#b22222"
                                        d="M320 96C189.25 96 82.75 172.5 32 256c50.75 83.5 157.25 160 288 160s237.25-76.5 288-160c-50.75-83.5-157.25-160-288-160zM320 352c-53 0-96-43-96-96s43-96 96-96 96 43 96 96-43 96-96 96zm0-160c-35.25 0-64 28.75-64 64s28.75 64 64 64 64-28.75 64-64-28.75-64-64-64z" />
                                </svg>
                            </span>
                        </span>
                    </div>

                    <div class="input-group">
                        <input class="input-text" [type]="showConfirmPassword ? 'text' : 'password'"
                            name="confirmPassword" id="confirmPassword" placeholder="Conferma Password"
                            [(ngModel)]="confirmPassword" required />
                        <label class="input-text-label" for="confirmPassword">Conferma Password</label>
                        <span class="icon">
                            <svg *ngIf="!isPasswordTyped" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path fill="#b22222"
                                    d="M144 144l0 48 160 0 0-48c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192l0-48C80 64.5 144.5 0 224 0s144 64.5 144 144l0 48 16 0c35.3 0 64 28.7 64 64l0 192c0 35.3-28.7 64-64 64L64 512c-35.3 0-64-28.7-64-64L0 256c0-35.3 28.7-64 64-64l16 0z" />
                            </svg>
                            <span *ngIf="isPasswordTyped" class="icon toggle-password"
                                (click)="toggleConfirmPassword()">
                                <svg *ngIf="showConfirmPassword" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 576 512">
                                    <path fill="#b22222"
                                        d="M569.34 231.16c-47.06-77.43-134.17-135.31-245.32-135.31-111.15 0-198.26 57.88-245.32 135.31a48.62 48.62 0 0 0 0 49.68c47.06 77.44 134.17 135.31 245.32 135.31s198.26-57.87 245.32-135.31a48.62 48.62 0 0 0 0-49.68zM288 368a80 80 0 1 1 80-80 80 80 0 0 1-80 80zm0-128a48 48 0 1 0 48 48 48 48 0 0 0-48-48z" />
                                </svg>

                                <svg *ngIf="!showConfirmPassword" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 640 512">
                                    <path fill="#b22222"
                                        d="M320 96C189.25 96 82.75 172.5 32 256c50.75 83.5 157.25 160 288 160s237.25-76.5 288-160c-50.75-83.5-157.25-160-288-160zM320 352c-53 0-96-43-96-96s43-96 96-96 96 43 96 96-43 96-96 96zm0-160c-35.25 0-64 28.75-64 64s28.75 64 64 64 64-28.75 64-64-28.75-64-64-64z" />
                                </svg>
                            </span>
                        </span>
                    </div>

                    <button class="animated-button" type="submit">
                        <span class="text">Aggiorna Password</span>
                    </button>
                </form>
            </div>

            <p class="backHome">
                Torna alla <a routerLink="/" class="homeLink"><span class="hover-underline">Home</span></a>
            </p>
        </div>
    </div>
</div>